<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload/file">
        <table>
            </tr>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td>
            </tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>


<div th:unless="${fileName == null}">
<h1 style="color: red" th:text="${'Successfully uploaded '+ fileName}"></h1>
</div>

</body>
</html>